.footer_section{
    width: 100%;
    padding-top: 1rem;
}
.footer_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 1.6rem;
    text-align: center;
}

.footer_paragraph{
    flex: auto;
    color: #262524;
    opacity: .6;
    font-size: .9rem;
    line-height: 2.5rem;
}